@model String

<style>
    h3 {
        color: orangered;
    }
</style>

<h3>@Model</h3>

<div class="col">
    <a asp-controller="Order" asp-action="ViewOrder" class="btn btn-danger w-100">Back</a>
</div>
